<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ow.tracer.mantuoluo.member.dsm.mapper.OrderTutorMapper">

	<!-- 字段与Model映射 -->


	<sql id="Base_Column_List">
		`tutor_id`,
		`member_id`,
		`tofee`,
		`con_id`,
		`type`,
		`pay_id`
	'del_flag',
      'create_date',
      'create_by',
      'update_by',
      'update_date',
       'version_number',
       'enabled'
	</sql>


</mapper>