<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright (c) 2018-2025, easy All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~ this list of conditions and the following disclaimer.
  ~ Redistributions in binary form must reproduce the above copyright
  ~ notice, this list of conditions and the following disclaimer in the
  ~ documentation and/or other materials provided with the distribution.
  ~ Neither the name of the tracer_4cloud.com developer nor the names of its
  ~ contributors may be used to endorse or promote products derived from
  ~ this software without specific prior written permission.
  ~ Author: easy (wangiegie@gmail.com)
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ow.tracer.auth.mapper.UserServiceMapper">

    <!-- userVo结果集 -->
    <resultMap id="userVoResultMap" type="com.ow.tracer.common.vo.UserVO">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="nick_name" property="nickName"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="ucreate_time" property="createTime"/>
        <result column="uupdate_time" property="updateTime"/>
        <result column="udel_flag" property="delFlag"/>
        <result column="deptId" property="deptId"/>
        <result column="deptName" property="deptName"/>
        <collection property="roleList" ofType="com.ow.tracer.common.vo.AdminRole">
            <id column="id" property="id" />
            <result column="role_name" property="roleName" />
            <result column="role_code" property="roleCode" />
            <result column="role_desc" property="roleDesc" />
            <result column="rcreate_time" property="createTime" />
            <result column="rupdate_time" property="updateTime" />
        </collection>
    </resultMap>

    <sql id="selectUserVo">
        SELECT
            `user`.id,
            `user`.user_name,
            `user`.nick_name,
            `user`.`password`,
            `user`.salt,
            `user`.avatar,
		    `user`.`phone`,
            `user`.dept_id,
            `user`.create_date AS ucreate_time,
            `user`.update_date AS uupdate_time,
            `user`.del_flag AS udel_flag,
            r.id,
            r.role_name,
            r.role_code,
            r.role_desc,
            r.create_date AS rcreate_time,
            r.update_date AS rupdate_time
        FROM
            admin_user AS `user`
            LEFT JOIN admin_user_role AS ur ON ur.user_id = `user`.id
            LEFT JOIN admin_role AS r ON r.id = ur.role_id
    </sql>
    <select id="selectUserVoByUsername" resultMap="userVoResultMap">
        <include refid="selectUserVo"/>
        WHERE `user`.user_name = #{username}
    </select>
</mapper>
