<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="Author" contect="">
<title>登录</title>
<link href="css/style.css" rel="stylesheet"/>
<link href="css/response.css" rel="stylesheet"/>
<script src="js/jquery.min.js"></script>
<script src="js/rem.js"></script>
</head>
<body>
<div class="content login_cont">
	<div class="header">
    	<div class="head">
        	<a href="javascript:;" onclick="javascript:history.back(-1);" class="back"></a>
            登录
        </div>
    </div>
    <div class="login">
        <div class="loginList">
        	<input type="text" class="login-tel" value="手机号" />
        </div>
        <div class="loginList">
        	<input type="text" class="login-code" value="验证码" />
            <input type="button" value="发送验证码" class="input_yzm" />
        </div>
        <div class="loginSub">登录</div>
    </div>
	<a class="kefu" href="tel:4008605855">客服电话</a>
</div>  
<!--提示-->
<div class="tip-success-bg tip-tip-box">
    <div class="tip-tip-box-nei">
    	<strong id="tishiyu">错误提示</strong>
    </div><!--tip-tip-box/-->
</div><!--tip-success-bg/-->
<div class="bg100"></div>
<script src="js/style.js"></script>
</body>
</html>