<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <title>个人中心</title>
    <meta name="keywords" content="比特币,虚拟货币,交易平台,个人中心,HTML5手机网站模板" />
    <meta name="description" content="比特币虚拟货币交易平台个人中心HTML5手机网站模板下载。虚拟币交易个人中心html手机页面模板。蓝色的虚拟币交易平台手机模板。主要页面有：个人中心主页、资金密码、绑定手机、绑定邮箱、登录、注册、钱包、设置、实名认证、我的订单、修改昵称、语言、重置登录密码、资金密码等13个手机页面。" />
    <meta name="author" content="js代码(www.jsdaima.com)" />
    <meta name="copyright" content="js代码(www.jsdaima.com)" />
  <style type="text/css">
        .tb960x90 {display:none!important;display:none}
        .biao {height: 3.414em;line-height: 3.414em;}
        .biao span{width:8%;display: -webkit-inline-box;}
        .biao span img{width:100%;}
    </style>
</head>
<body>
<!--top-->
<div class="top_c">
    <p class="titi">
        我的
    </p>
</div>
<!--头部-->
<div class="tou">
    <div class="sp_pr" style="border:none;">
        <img src="../static/gerenzhongxin/images/gdsgf4.jpg">
        <div class="text_p">
            <p>
                Join
            </p>
            <span class="yue"></span>
        </div>
    </div>
</div>

<!--列表-->
<div class="lie_b">
    <div class="container">
        <div class="one">
            <a href="/wap/my-jisuan">
                <p class="biao">
                    <span class="iconfont"><img src="../static/gerenzhongxin/images/uico1.png"/></span>我的计算<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
        <div class="one" style="border-bottom:none;">
            <a href="#">
                <p class="biao">
                    <span class="iconfont"><img src="../static/gerenzhongxin/images/uico2.png"/></span>我的咨询<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
    </div>
</div>

<div class="lie_b" style=" margin-bottom: 5.571em;">
    <div class="container">
        <div class="one">
            <a href="#">
                <p class="biao">
                    <span class="iconfont"><img src="../static/gerenzhongxin/images/uico5.png"/></span>设置<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
        <div class="one">
            <a href="#">
                <p class="biao">
                    <span class="iconfont"><img src="../static/gerenzhongxin/images/uico6.png"/></span>建议反馈<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
        <div class="one">
            <a href="#">
                <p class="biao">
                    <span class="iconfont "><img src="../static/gerenzhongxin/images/uico7.png"/></span>关于我们<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>

        <div class="one" style="border-bottom:none;">
            <a href="#">
                <p class="biao">
                    <span class="iconfont "><img src="../static/gerenzhongxin/images/uico9.png"/></span>退出<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
    </div>
</div>
<div th:include="footer :: common"></div>

</body>
</html>