* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    margin: 0 auto;
}

.cubes {
    overflow: hidden;
}

.cubes>div {
    float: left;
    width: 80px;
    height: 80px;
    background-color: black;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}
.divright{
position:absolute;
color:white;
z-index: 99;
font-size: 2.0em;
width: 1em;
height: 1em;
 text-align: center;
    font-weight: bold;
    font-family: Times New Roman,Georgia,Serif;

 }

.num {
    color: white;
    text-align: center;
    line-height: 1.5;
    font-size: 60px;
    font-weight: bold;
    font-family: Times New Roman,Georgia,Serif;
}
.btn {
    display: block;
    width: 296px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 2px solid #f40;
    color: #f40;
}

.btn:hover {
    background-color: #f40;
    color: #fff;
}
